@import url('https://fonts.googleapis.com/css2?family=Epilogue&family=Roboto+Mono&display=swap');

/* font-family: 'Epilogue', sans-serif;
font-family: 'Roboto Mono', monospace; */

:root {
  --brand-color: #ffca27;
  --dark-color: #155e75;
  --mid-color: #e5e7eb;
  --light-color: #f8fafc;

  /* some grey shades */
  --grey-color: #808080;
  --slate-grey: #708090;
  --light-slate: #778899;
  --silver: #c0c0c0;
  --gainsboro: #dcdcdc;
  --light-grey: #d3d3d3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-areas: "header", "main";
  grid-template-rows: 6rem calc(100vh - 6rem);
  gap: 1rem;
  background-color: var(--mid-color);
  padding: 0 1.5rem;
}

/* HEADER */
header {
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

#logo {
  fill: var(--dark-color);
  width: 4.5rem;
}

#logo-title {
  font-family: 'Roboto Mono', monospace;
  color: var(--dark-color);
  font-size: 2.8rem;
  font-weight: 600;
}

/* MAIN */
main {
  min-width: 100%;
  padding: 0 6rem;
  display: flex;
  flex-direction: column;
}

/* Welcome Section */
.welcome {
    position: relative;
    padding: 1.25rem;
    width: 100%;
    background-color: var(--brand-color);
    color: black;
    font-family: 'Epilogue', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.welcome .fa-close {
    position: absolute;
    right: 12px;
    top: 12px;
    cursor: pointer;
    font-size: 1.2rem;
}

.welcome .fa-close:hover {
    color: red;
}

.welcome p {
    text-align: center;
    padding: 2.5rem 0;
    font-size: larger;
}

/* Flashcards Section */
.flashcards-section {
    margin-top: 2rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    font-family: 'Epilogue', sans-serif;
}

.flashcards-section h1 {
  font-family: 'Roboto Mono', monospace;
  font-size: 2rem;
  color: var(--dark-color);
}

.button {
    border: none;
    outline: none;
    cursor: pointer;
}

.btn {
    margin: 1.5rem auto;
    padding: .8rem 1.5rem;
    border-radius: 1.5rem;
    color: white;
    background-color: var(--dark-color);
    font-size: 1rem;
}

.btn:hover {
    background-color: var(--light-slate);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

/* Contain Flashcards Section */
.contain-flashcards {
    /* display: flex;
    flex-direction: column;
    flex: 1; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: .8rem 0;
    /* border: solid 3px black; */
}

.contain-flashcards > p {
  display: none;
}

/* Flashcard */
.flashcard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.2rem;
  background-color: var(--brand-color);
  padding: 1.5rem;
  border-radius: .8rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.card-face {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.tag {
    font-size: .65rem;
    background-color: var(--dark-color);
    border-radius: 1rem;
    padding: .4rem .8rem;
    width: max-content;
    color: white;
}

.card-content {
    text-align: center;
    padding: .3rem;
}

.actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: .5rem;
    font-size: 1.2rem;
}

.actions .fa {
    cursor: pointer;
}

.actions .fa-edit:hover {
  color: var(--dark-color);
}

.actions .fa-trash:hover {
  color: red;
}